In [3]:
# 변수의 범위를 알아보자 

def myfunc():
    x= 100
    print(x)

myfunc()

100

In [5]:
def myfunc():
    x= 123
    print(x)


def main():
    x=100
    print(x)
    
    
myfunc()
main()

123
100

In [10]:
# 함수 안에서 전역변수 변경하기

gx = 100

def myfunc():
    gx =200
    print(gx)
    
myfunc()
print(gx)

200
100

In [ ]:
#마크 다운으로 f(x)= x제곱 +1

$f(x)= x^2 + 1$

In [20]:
##
#	이 프로그램은 터틀 그래픽으로 함수를 그린다. 
#
import turtle 
t = turtle.Turtle()
t.shape("turtle")
t.speed(0)

def f(x):
    return x**2+1

t.goto(200, 0)
t.goto(0, 0)
t.goto(0, 200)
t.goto(0, 0)

for x in range(150):
	t.goto(x, int(0.01*f(x)))

turtle.mainloop()
turtle.bye()

Terminator:

#파이썬 자료 구조

In [ ]:
##파이썬 자료 구조


# 파이썬 자료

In [41]:

temps =[28,31,33,35,27,26,25]

for i in range(len(temps)):
    print(temps[i], end=",")

28,31,33,35,27,26,25,

In [47]:
# 동시에 2개의 리스트 해보기

questions = ["name","quest","color"]
answers=["kim","파이썬","blue"]

for q,a in zip(questions,answers):
    print (f"what is your {q}?     It is {a}")

what is your name?     It is kim
what is your quest?     It is 파이썬
what is your color?     It is blue

In [66]:
# 리스트 내용 입력

heroes=[]
heroes.append("아이언맨")
heroes.append("토르")
print(heroes)

['아이언맨', '토르']

In [67]:
#리스트 중간에 삽입하는 방법

In [74]:
heroes.insert(2,"헐크")
# 삽입할 위치를 변경할 수 있다.

In [75]:
print(heroes)

['헐크', '아이언맨', '헐크', '토르', '헐크']

# 리스트를 탐색하는 방법

In [83]:
# 리스트를 탐색하는 방법
# 위치 찾는 방법
n = heroes.index("아이언맨")
print(n)

0

In [81]:
# 제거하는 방법
heroes.remove("헐크")

In [82]:
print(heroes)

['아이언맨', '토르', '헐크']

In [119]:
# 파이썬은 모든 객체 클래스 이다. 

values=[1,2,3,4,5,6,7,8,9,10]

# min(values)
# max(values)
# mean(values)
print(min(values))
print(max(values))

print(values[3])
print(values)

1
10
4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [121]:
# 스택 구현하기 ---LIFO ---PUSH(삽입)----POP(꺼내기)
stack=[]

for i in range(3):
    f = input("과일을 입력:")
    stack.append(f)
    
for j in range(3):
    print(stack.pop())

과일을 입력:배
과일을 입력:사과
과일을 입력:수박
수박
사과
배

# 리스트를 병합하는것

In [124]:
# 리스트를 병합하는것 
he=["one","two"]
she=["tree","for"]
man=he + she
woman= she + he
print(man)
print(woman)

['one', 'two', 'tree', 'for']
['tree', 'for', 'one', 'two']

In [125]:
# 리스트를 비교하는것
he=["one","two"]
she=["tree","for"]
print(he== she)

he=["one","two"]
she=["one","two"]
print(he==she)

False
True

In [133]:
#리스트를 복사하는것

values=[3,7,2,1,5]
sort_value= values[:]
sort_value.sort()

print(values)
sort_value

[3, 7, 2, 1, 5]

[1, 2, 3, 5, 7]

In [140]:
#슬라이싱 해보기 문자열 슬라이싱
s = "Month Python"
print(s[0])
print(s[6:10]) # 앞에서 7번부터
print(s[-17:-7]) # 맨뒤에서 12번째 부터

M
Pyth
Month

In [146]:
def func():
    x=42
    print("x=", x, "id=", id(x))
    y= x
    print("y=", y, "id=", id(y))

func()

y=12

print("x=", x, "id=", id(x))
print("y=", y, "id=", id(y))

x= 42 id= 140720821316688
y= 42 id= 140720821316688
x= 149 id= 140720821320112
y= 12 id= 140720821315728

In [148]:
# 2차원 리스트 이다. 
s = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]

print(s)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [150]:
# 2차원 출력하는 방법 
s = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]

rows= len(s)
cols=len(s[0])

for r in range(rows):
    for c in range(cols):
        print(s[r][c], end=',')
    print()

1,2,3,4,5,
6,7,8,9,10,
11,12,13,14,15,

In [159]:
# 2차원 출력하는 방법 
# 더하기를 출력하는 방법
s = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]

rows= len(s)
cols=len(s[0])

i=1
total=0
for j in range(cols):
    total = total + s[i][j]
print(total)

40

# 튜플 딕셔너리 해보기

In [ ]:
# 튜플 딕셔너리 해보기
# 튜플은 리스드와 다르게 수정이 불가능하다
# 요소가 하나뿐인 튜플을

In [166]:
s_t=("apple",)
print(s_t)

s_t=("apple")
print(s_t)

fruits=["apple","banana","grape"]
print(fruits[1])

('apple',)
apple
banana

In [167]:
fruits=["apple","banana","grape"]
# enumerate 는 인덱스 값을 요소값에 대입함
for  index, value in enumerate(fruits): 
        print(index, value)

0 apple
1 banana
2 grape

In [169]:
fruits=["apple","banana","grape"]
# enumerate 는 인덱스 값을 요소값에 대입함
for  index, value in enumerate(fruits): 
        print(index, value)

0 apple
1 banana
2 grape

In [ ]:
# 튜플은 언제쓰고 리스트는 언제 쓰는것이냐
#                     리스트            튜플
    
#               항목을 []                항목을 ()
#                변경가능                변경불가능
#              메소드 46개               메소드 33개
#      딕셔너리 키사용이 안됨          딕셔너리 키사용이 가능함

In [170]:
# 리스트와 세트의 비교
# 세트의 요소는 특정 순서로 저장되지 않으면 위치별로 엑세스 할수 없음
# 세트는 특성 순서를 유지할 필요가 없으므로 리스트 보다 연산이 빠르다
# 세트는 중복항이 없어야 한다. 중복되면 자동으로 제거됨

numbers = set([1,2,3,1,2,3])
print(numbers)

# 중복을 짤라버린다.

{1, 2, 3}

In [173]:

fruits = {"apple","banana","grape"}
fruits.update = (["orange","mango","kiwi"])
print(fruits)

# fruits.remove("mango")

AttributeError: 'set' object attribute 'update' is read-only

In [175]:
# 생성 / 추가 

fruits = {"apple","banana","grape"}
fruits.update(["orange","mango","kiwi"])
print(fruits)

{'mango', 'grape', 'orange', 'banana', 'apple', 'kiwi'}

In [176]:
fruits.remove("mango")
print(fruits)

{'grape', 'orange', 'banana', 'apple', 'kiwi'}

In [177]:
fruits.clear()
print(fruits)

set()

In [178]:
alist ={1,2,3,4,5,1,2}
result = {x for x in alist if x%2==0}

print(result)

{2, 4}

# 딕셔너리 해보기

In [180]:
# 딕셔너리 해보기  키와 값으로 저장되는 예시
capitals = {"korea":"seoul", "usa":"washington", "uk":"London"}
for key, value in capitals.items():
    print(key, ":",value)

korea : seoul
usa : washington
uk : London

In [181]:

fruits = ["apple", "orange","banana"]
dic = {f:len(f) for f in fruits}
print(dic)

{'apple': 5, 'orange': 6, 'banana': 6}

In [183]:
text_data ="Create the highest, grandest vision possible for your life, because you become what you believe"

word_dic = {}				# 주머니 생성 단어들과 출현 횟수를 저장하는 딕셔너리를 생성
for w in text_data.split():		# 텍스트를 단어들로 분리하여 반복한다. 
     if w in word_dic:			# 단어가 이미 딕셔너리에 있으면
         word_dic[w]  += 1  		# 출현 횟수를 1 증가한다. 
     else:				# 처음 나온 단어이면 1로 초기화한다. 
         word_dic[w]   = 1  

for w, count in sorted(word_dic.items()):	# 키와 값을 정렬하여 반복 처리한다. 
     print(w, "의 등장횟수=", count)

Create 의 등장횟수= 1
because 의 등장횟수= 1
become 의 등장횟수= 1
believe 의 등장횟수= 1
for 의 등장횟수= 1
grandest 의 등장횟수= 1
highest, 의 등장횟수= 1
life, 의 등장횟수= 1
possible 의 등장횟수= 1
the 의 등장횟수= 1
vision 의 등장횟수= 1
what 의 등장횟수= 1
you 의 등장횟수= 2
your 의 등장횟수= 1

In [188]:
# 이메일 주소 분석하기
address = input("이메일 주소 입력하세요:")
(id, domain) = address.split("@")

print(address)
print()
print("아이디 : " , id)
print("도메인 : " , domain)

이메일 주소 입력하세요:kuick1@gmail.com
kuick1@gmail.com

아이디 :  kuick1
도메인 :  gmail.com

In [192]:
# 알파벳 문자의 갯수
sentence = input("문자열 입력")

table ={"alphas": 0, "digits":0 , "spaces":0}

for i in sentence:
    if i.isalpha():
        table["alphas"]+=1
    if i.isdigit():
        table["digits"]+=1
    if i.isspace():
        table["spaces"]+=1
print(table)

문자열 입력my number is 9999my number is 9999
{'alphas': 20, 'digits': 8, 'spaces': 6}

In [193]:
# 트위터 메세지에서 단어의 개수

t="python is very easy and powerful!"

length = len(t.split(" "))
print(length)

6

In [202]:
# otp일회용 암호

import random


s = "0123456789"

passlen = 4

p =  "".join(random.sample(s, passlen ))
print(p)

0786

In [205]:
# 파이썬 클래스 해보기

class Counter:
    def __init__(self):
        self.count = 0 #변수를 property 속성이라고 함
    def increment(self): #<---요거는 함수다 method 방법
        self.count += 1 
        
a = Counter()
a.increment()
print("카운터 값 : ",  a.count)

카운터 값 :  1

In [215]:
import math
# 원을 클래스로 모델링
class Circle:
    def __init__(self, radius = 0): #초기화 때문에 생성자 만듦
        self.radius = radius
        
    def getArea(self):
        return math.pi *self.radius *self.radius
    
    def getPerimeter(self):
        return 2 * math.pi * self.radius
    
    
c= Circle(10)
print("원의 면적:" , round(c.getArea(),2))
print("원의 둘레:" , c.getPerimeter())

원의 면적: 314.16
원의 둘레: 62.83185307179586